.navbar-custom {
    background-color: rgb(40, 26, 56);
    border-top: none;
    box-shadow: none;
    border: none;
}

.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 2vw;
    margin-inline: 1vw;
}
  
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-brand {
    font-size: 4vw;
    color:rgb(142, 85, 207);
}

html {
    scroll-behavior: smooth;
}

.center {
    text-align: center;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

li.no-bullets {
    display: inline-block;
    font-weight:bolder;
}

@font-face {
    font-family: 'bank-gothic';
    src: url('/font/BankGothic.eot');
    src: url('/font/BankGothic.eot?#iefix') format('embedded-opentype'),
         url('/font/BankGothic.woff') format('woff'),
         url('font/bank-gothic-regular.ttf ') format('truetype'),
         url('font/BankGothic.svg') format('svg');
}

@font-face {
    font-family: 'be-vietnam';
    src: url('/font/BeVietnam-Regular.eot');
    src: url('/font/BeVietnam-Regular.eot#iefix') format('embedded-opentype'),
         url('font/BeVietnam-Regular.woff') format('woff'),
         url('font/BeVietnam-Regular.ttf ') format('truetype'),
         url('font/BeVietnam-Regular.svg') format('svg');
}

body {
    font: inherit;
    font-family: bank-gothic;
    background: url(images/purple.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 100%;
}

.sans-serif-font {
    font: inherit;
    font-family: be-vietnam;
    font-size: 1.2vw;
}

.banner {
    width: 100%;
    position: relative;
}
    
.overlay-section {
    position: absolute;
    top: 80%;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

.overlay {
    color:rgb(152, 80, 235);
    text-decoration: none;
}

.overlay:hover {
    color:rgb(104, 56, 158);
}

.fancy-box {
    background-color: rgb(152, 80, 235);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 30px 5 px 30px;
    font-size: 18px;
}